@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950;
}

.blinking-cursor {
  margin-left: -3px;
  font-size: x-large;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
